body {
    font-family: "Poppins", sans-serif;
}

/* Barre supérieure */
.top-bar {
    background-color: #0042A7;
    font-size: 14px;
}

/* Carrousel */
.hero-img {
    height: 65vh;
    object-fit: cover;
    filter: brightness(70%);
}

/* Éléments de texte sur carrousel */
.caption-mobile h1 {
    font-size: 26px;
    font-weight: 700;
}

.caption-mobile p {
    font-size: 15px;
}

.caption-mobile .btn {
    padding: 8px 25px;
    font-size: 16px;
}

/* Version desktop */
@media (min-width: 768px) {
    .hero-img {
        height: 85vh;
    }
    .caption-mobile h1 {
        font-size: 42px;
    }
    .caption-mobile p {
        font-size: 20px;
    }
}

/* Bouton principal */
.btn-primary {
    background-color: #152cfc;
    border: none;
}

.btn-primary:hover {
    background-color: #3894fd;
}
